* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.head {
    width: 100%;
    box-sizing: border-box
}

.bg {
    width: 100%;
    height: 665px;
    background-position: center;
    background-size: auto 100%;
    min-width: 1280px;
    position: relative;
}

.navs {
    width: 100%;
    height: 111px;
    /* background: #000000; */
    box-sizing: border-box;
    top: 0;
    position: fixed;
    z-index: 999;
    background: url(../images/navbg.png) no-repeat;
}

.navs div {
    width: 1200px;
    margin: 0 auto;
    height: 111px;
    line-height: 99px;
}

.navs img {
    margin: 0;
    vertical-align: middle;
}

#bgbanner {
    position: relative;
    width: 100%;
    height: 665px;
    overflow: hidden;
}

#pic {
    width: 100%;
    height: 100%;
}

#pic li {
    float: left;
    display: none;
    width: 100%;
    height: 665px;
}

#pic li.cur {
    display: block;
    transition: all 1s ease-in;
}

#round {
    width: 100%;
    height: 15px;
    position: absolute;
    top: 95%;
    text-align: center;
}

#round a {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-left: 5px;
    background-image: url(../images/rounds.png);
    cursor: pointer;
}

#round a.rounds {
    background-image: url(../images/round.png);
}

.characters img {
    top: 18%;
    left: 18%;
    position: absolute
}

.center {
    width: 100%;
    height: 320px;
    background-image: url(../images/center.png);
    overflow: hidden;
    background-position: center;
    background-size: auto 320px;
    /* padding-top: 55px; */
}

.teach {
    width: 1400px;
    height: 160px;
    margin: 0 auto;
    position: relative;
    margin-top: 80px;
}

.teacherHolder a{
    display: block;
    position: absolute;
    top: 30px;
    cursor: pointer;
}

.teach-left a {
    background-image: url(../images/xueli.png);
    left: 68px;
    width: 187px;
    height: 65px;
}

.teach-center a {
    background-image: url(../images/zhiye.png);
    left: 66px;
    width: 188px;
    height: 64px;
}

.teach-right a {
    background-image: url(../images/jiaoyu.png);
    left: 70px;
    width: 186px;
    height: 62px;
}
.teachMent{
    margin-right: 0!important;
}
.teachMent a{
    background-image: url(../images/BIM.png);
    height: 64px;
    width: 195px;
    left:63px;
}

.teacherHolder{
    background-image: url(../images/move.png);
    display: inline-block;
    width: 310px;
    height: 128px;
    position: relative;
    margin-right: 48px;
}

.teacherHolder:hover{
    background: url(../images/moveto.png) no-repeat;
}

.top {
    width: 100%;
    height: 216px;
    background: url(../images/bgtop.png) no-repeat;
    background-position: center;
    overflow: hidden;
    background-size: auto 100%;
    min-width: 1280px;
    position: relative;
}

.tops {
    width: 1190px;
    height: 120px;
    margin: 30px auto 0 auto;
    /* background: red; */
    position: relative;
}

.tops-left {
    width: 61%;
    /* background: #ffffff; */
    float: left
    /* font-size: 12px */
}

.tops-left span {
    line-height: 35px;
}

.tops-right {
    width: 34%;
    /* background: #000000; */
    float: right;
    vertical-align: middle;
}

.tops-right img:last-of-type {
    margin-right: 0
}

.tops-right span {
    right: 1.25%;
    position: absolute;
    top: 123%;
    font-size: 12px
}

@media screen and (max-width:1366px) {}

@media screen and (max-width:1024px) {}

@media screen and (max-width:768px) {}

@media screen and (max-width:600px) {}

@media screen and (max-width:533px) {
    /*android  1600*2560 533*853 x3*/
    body,
    .navs {
        width: 100vw;
    }
    body {
        padding-top: 11.73vw;
    }
    .navs,
    .navs div {
        height: 11.73vw;
        line-height: 11.73vw;
        background-size: auto 11.73vw;
    }
    .navs div img {
        height: 7vw;
        line-height: 11.73vw;
        vertical-align: middle;
        margin-top: -2vw;
        margin-left: 2vw;
    }
    .bg {
        width: 100vw;
        height: 34.635vw;
    }
    #bgbanner {
        position: relative;
        width: 100%;
        height: 34.635vw;
        overflow: hidden;
    }
    #pic li {
        height: 34.635vw;
    }
    #pic li img {
        display: block;
        width: 100vw;
        height: 34.635vw;
    }
}

@media screen and (max-width:425px) {}

@media screen and (max-width:414px) {
    /* iphone6/7/8 plus 414*736 1080*1920 x2.6*/
}

@media screen and (max-width:375px) {
    /* iphone6/7/8 750*1334 x2 375*667*/
}

@media screen and (max-width:360px) {
    /*android 1080*1920 x3*/
}

@media screen and (max-width:320px) {
    /*iphone5*/
}